.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  
  .pageItems {
    display: flex;
    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
        }
        &.active {
            background-color: #ccc;
        }
    }
  }
  .back {
    margin-right: 10px;
}
.forward {
    margin-left: 10px;
}
.back, .forward{
    display: flex;
    align-items: center;
}
}
  