certifi==2023.11.17 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
charset-normalizer==3.3.2 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
idna==3.6 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
oauthlib==3.2.2 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
requests-oauthlib==1.3.1 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
requests==2.31.0 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
toml==0.10.2 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
tomli==2.0.1 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
tweepy==4.14.0 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
urllib3==1.26.18 ; python_version >= "3.9.dev0" and python_version < "3.10.dev0"
