# dotenv environment variables file
.env
.envrc
.env.staging
.env.production
.env.development
.env.local
.idea
.DS_Store

node_modules/
cdk.out/

/frontend/client/dist*
/inftastructure/config/*
/backend/config/*