@import "../../../mixins";

.author {
    max-width: 1600px;
    margin: 0 auto;
    .authorContainer{
        max-width: 1600px;
        margin: 0 auto;
        background-color: $light-blue;
            .name {
                max-width: 1100px;
                margin: 0 auto;
                width: 100%;
                height: 4rem;
                display: flex;
                align-items: center;
                    h1 {
                        margin-left: 0.5rem;
                        color: white;
                        @include md {
                            margin-left: 0;
                        }
                    }
        }
    }
                   .metaContainer {
                    padding: 0 1rem 1rem 1rem;
                       width: 100%;
                       max-width: 1100px;
                       margin: 3rem auto 0;
                       display: flex;
                       flex-direction: column;

                       @include md {
                        padding: 0;
                           display: grid;
                           flex-direction: row;
                           grid-template-columns: repeat(10, 1fr);
                           gap: 16px;
                       }
        
                       .image {
                           grid-column: span 2;
                           text-align: center;
                           margin-bottom: 3rem;
                        img {
                                width: 50%;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                           @include md {
                            margin-bottom: 0;
                            img {
                                width: 100%;
                            }
                           }
                       }
        
                       .description {
                           grid-column: span 6;
                           p {
                            margin-bottom: 2rem;
                           }
                       }
                       .media {
                        grid-column: span 2;
                        .mediaTitle{
                            width: 100%;
                            font-weight: bold;
                            border-bottom: 3px solid $gray;
                            padding-bottom: 0.5rem;
                            margin-bottom: 0.5rem;
                        }
                        svg{
                            margin-right: 0.5rem;
                        }
                       }
        
                   }
}