$sm: 375px;
$md: 600px;
$lg: 992px;
$xlg: 1280px;
$xslg: 1441px;

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: $xlg) {
    @content;
  }
}

@mixin xslg {
  @media (min-width: $xslg) {
    @content;
  }
}

html {
  font-size: 87.5%;

  @include sm {
    font-size: 91%;
  }

  @include md {
    font-size: 95.5%;
  }

  @include lg {
    font-size: 100%;
  }
}

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
  @include md {
    padding: 0;
  }
  margin-bottom: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
html, body, body * {
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
input{
  margin-top: 0;
}

h3{
  font-weight: 400;
}