@import '../mixins';
.home {
  height: 100%;
  .cryptListContainer {
    max-width: 1600px;
    margin: 0 auto;
  }
  .allContainer {
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto 0;
    padding: 0 1rem 1rem 1rem;
    @include md {
      padding: 0;
    }
    .mainBanner {
      width: 100%;
      margin-bottom: 2rem;
    }
    .topContainer {
      margin: 0 auto;
      width: 100%;
      @include md {
        width: 90%;
      }
    }

    .mainContainer {
      @include md {
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-gap: 20px;
      }

      .latestNews,
      .recommendedNews {
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }
      }

      .latestNews {
        padding: 10px 0;

        @include md {
          width: 100%;
          height: auto;
        }
      }

      .recommendedNews {
        padding: 10px 0;
        height: auto;
      }
    }

    .rightContainer {
      .categoryContainer {
        .category {
          width: 80%;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: $light-white;
          font-size: 1.6rem;

          &:hover {
            background-color: $light-purple;
            color: white;
          }
        }
      }
      .recommendedNewsConatiner {
        h2 {
          margin-top: 5rem;
        }
        .recommendedNewsBox {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          @include md {
            display: block;
          }
        }
      }
    }
    .aboutUsContainer {
      width: 100%;
      position: relative;
      @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      margin-top: 2rem;
      .textBox {
        padding: 1rem;
        h3 {
          color: #ffffff;
          @include md {
            color: $primary;
          }
          font-size: 1.4rem;
          margin-bottom: 2rem;
        }
        p {
          letter-spacing: 0.2rem;
          line-height: 1.8;
          span {
            background: radial-gradient(circle at 100%, #ffffff, #ffffff);
            @include md {
              background: radial-gradient(circle at 100%, $primary, $secondary);
            }
            white-space: nowrap;
            font-weight: bolder;
            background-size: 200% auto !important;
            color: #000;
            background-clip: text !important;
            -webkit-text-fill-color: transparent;
            animation: animatedText 3s linear infinite;
          }
        }
      }
      .imageBox {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        @include md {
          position: static;
        }
        .backgroundImage {
          height: 100%;
          width: 100%;
          background: linear-gradient(to top right, $primary, $secondary);
          border-radius: 20px;
          opacity: 0.3;
          @include md {
            width: 60%;
            display: none;
          }
        }
        .stage {
          margin: 100px auto;
          width: 150px; // Adjusted from 200px to 150px
          perspective: 500px;
          display: none;
          @include md {
            display: block;
          }

          .cube {
            position: relative;
            width: 150px; // Adjusted from 200px to 150px
            height: 150px; // Adjusted from 200px to 150px
            transform-style: preserve-3d;
            animation: mixedRotation 12s linear infinite;
            transition: 4s;

            &:hover {
              animation: mixedRotation 2s linear infinite;
            }

            .panel {
              position: absolute;
              top: 0;
              left: 0;
              width: 150px; // Adjusted from 200px to 150px
              height: 150px; // Adjusted from 200px to 150px
              border: 4px solid #999;
              box-sizing: border-box;
              font-family: Impact;
              font-size: 30px;
              color: #fff;
              text-align: center;
              line-height: 150px; // Adjusted from 200px to 150px
            }

            .front {
              transform: translateZ(75px); // Adjusted from 100px to 75px
              background-color: hsl(90deg 90% 70%/60%);
              transition: 1s;

              &:hover {
                transform: rotateX(90deg) translateZ(75px) translateY(150px); // Adjusted from 100px to 75px and 200px to 150px
              }
            }

            .back {
              transform: translateZ(-75px) rotateX(180deg); // Adjusted from 100px to 75px
              background-color: hsl(180deg 90% 70%/60%);
              transition: 1s;

              &:hover {
                transform: rotateX(270deg) translateZ(75px) translateY(150px); // Adjusted from 100px to 75px and 200px to 150px
              }
            }

            .left {
              left: -75px; // Adjusted from 100px to 75px
              transform: rotateY(-90deg);
              background-color: hsl(0deg 90% 70%/60%);
            }

            .right {
              left: auto;
              right: -75px; // Adjusted from 100px to 75px
              transform: rotateY(90deg);
              background-color: hsl(320deg 90% 70%/60%);
            }

            .top {
              top: -75px; // Adjusted from 100px to 75px
              transform: rotateX(90deg);
              background-color: hsl(30deg 90% 70%/60%);
            }

            .bottom {
              top: auto;
              bottom: -75px; // Adjusted from 100px to 75px
              transform: rotateX(-90deg);
              background-color: hsl(240deg 90% 70%/60%);
            }
          }
        }
        @keyframes mixedRotation {
          0% {
            transform: rotateX(0deg) rotateY(0deg);
          }
          100% {
            transform: rotateX(360deg) rotateY(360deg);
          }
        }
      }
    }
  }
}
