@import '../mixins';
.home {
  height: 100%;
  .cryptListContainer {
    max-width: 1600px;
    margin: 0 auto;
  }
  .allContainer {
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto 0;
    padding: 0 1rem 1rem 1rem;
    @include md {
      padding: 0;
    }
    .topContainer {
      margin: 0 auto;
      width: 100%;
      @include md {
        width: 90%;
      }
    }

    .mainContainer {
      @include md {
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-gap: 20px;
      }

      .latestNews,
      .recommendedNews {
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }
      }

      .latestNews {
        padding: 10px 0;

        @include md {
          width: 100%;
          height: auto;
        }
      }

      .recommendedNews {
        padding: 10px 0;
        height: auto;
      }
    }

    .rightContainer {
      .categoryContainer {
        .category {
          width: 80%;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: $light-white;
          font-size: 1.6rem;

          &:hover {
            background-color: $light-purple;
            color: white;
          }
        }
      }
      .recommendedNewsConatiner {
        h2 {
          margin-top: 5rem;
        }
        .recommendedNewsBox {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          @include md {
            display: block;
          }
        }
      }
    }
  }
}
