@import "../../mixins";
.termsAndconditions{
  max-width: 1100px;
  margin: 0 auto;
  h1 {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: $light-light-black;
  }
}