@import '../../../mixins';
.articleAgenda {
  border: 2px solid $gray;
  padding: 10px 30px;
  margin: 0 auto;
  .agendaTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: 0.5rem;
    }
  }

  ul {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
    li {
      cursor: pointer;
      margin-bottom: 5px;
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        line-height: 1em;
        margin-left: calc(-20px + -0.5em);
        padding-right: 0;
        background: #f3f3f3;
        z-index: 1;
        border: 4px solid #fff;
      }

      &:hover {
        opacity: 0.7;
        color: $primary;
      }
      &.h3Item {
        margin-left: 30px;
        line-height: 2;
        color: $light-light-black;
        &:hover {
          opacity: 0.7;
          color: $primary;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
