@import '../../../mixins';
.newsArticleDetails {
  @include lg {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 20px;
  }
  .details {
    display: inline-block;
    .mainContentContainer {
      position: relative;
      display: block;
      @include md {
        display: grid;
        grid-template-columns: 1fr 9fr;
      }
      .sidebar {
        position: fixed;
        background-color: $white;
        z-index: 1;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        border-radius: 3px;

        padding: 0.5rem;
        @include md {
          padding: unset;
          transform: unset;
          background-color: unset;
          left: unset;
          top: 6rem;
          position: sticky;
          flex-direction: column;
          height: 100px;
          width: 90%;
        }
        a {
          display: flex;
          align-items: center;
          cursor: pointer;
          svg {
            width: 2.7rem;
            height: 2.7rem;
          }
        }
        .copiedText {
          font-size: 0.7rem;
        }
      }
    }
    .body {
      h1 {
        font-size: 28px;
        margin-top: 72px;
        margin-bottom: 18px;
      }

      h2 {
        font-size: 26px;
        margin: 54px 0 -18px;
        border-bottom: 3px solid $light-light-black;
        display: inline-block;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        margin: 36px 0 -18px;
      }
      h4 {
        font-weight: bold;
        font-size: 18px;
        margin: 36px 0 -18px;
      }

      p {
        font-size: 18px;
        line-height: 2rem;
        margin: 36px 0;
      }

      a {
        padding: 0.2rem;
        margin-bottom: 0.2rem;
        text-align: center;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 60%;
          /* 背景の線形グラデーションが始まる位置を調整 */
          left: 0;
          right: 0;
          height: 40%;
          /* 背景の線形グラデーションの高さを調整 */
          background: linear-gradient(transparent, $light-purple);
          /* 線形グラデーションの定義 */
          z-index: -1;
          /* テキストの下に配置 */
        }
      }

      ul,
      ol {
        margin: 1rem 0;

        li {
          font-size: 16px;
          line-height: 2rem;

          @include md {
            line-height: 2.2rem;
          }
        }
      }

      // TODO: listの・の表示設定の追加設定（下記では番号付きリストも・表示となっている）
      ul li {
        position: relative;
        padding: 0 0 0 20px;
        margin: 7px 0 7px 20px;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
      }

      ul li:before {
        counter-increment: list;
        content: '';
        display: block;
        position: absolute;
        left: -10px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #001650;
        top: 9px;
      }

      ol {
        counter-reset: number;
      }

      ol li {
        position: relative;
        line-height: 30px;
        margin: 7px 0 7px 40px;
        padding-left: 10px;
        font-weight: bold;
        font-size: 14px;
      }

      ol li::before {
        counter-increment: number 1;
        content: counter(number);
        position: absolute;
        left: -35px;
        width: 30px;
        height: 30px;
        background: #001650;
        text-align: center;
        color: #fff;
      }

      figure {
        img {
          width: 100%;
          height: auto;
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      blockquote {
        position: relative;
        margin: 2em 0;
        padding: 0 1.2em;
        font-size: 0.9em;

        &:before,
        &:after {
          position: absolute;
          font-size: 4em;
          opacity: 0.1;
          content: '“'; /* 追加 */
        }

        &:before {
          top: -2rem;
          left: 20px;
        }

        &:after {
          bottom: -2.5rem;
          right: 20px;
        }
      }

      code {
        display: block;
        padding: 36px;
        overflow-x: auto;
        font-family: SFMono-Regular, Consolas, Menlo, Courier, monospace;
        font-size: 12px;
        line-height: 1.125rem;
        color: white;
        word-wrap: normal;
        white-space: pre;
        background-color: black;
      }

      figcaption {
        color: $primary;
        font-size: 14px;
        text-align: center;
        margin-bottom: 4em;
      }

      img {
        margin-top: 36px;
        margin-bottom: 36px;
      }

      iframe {
        max-width: 100%;
        margin-top: 40px;
      }
      table,
      td,
      th {
        border: 1px $gray solid;
      }
      table {
        margin-top: 1.5rem;
        margin-bottom: 1.5em;
        width: 100%;
        overflow-x: auto;
        border-spacing: 0;
        border-collapse: collapse;

        tbody {
          tr {
            display: flex;
            justify-content: space-evenly;
            td {
              width: 100%;
              // border: 1px solid $light-white;
            }

            th {
              background-color: $light-purple;
              color: $white;
              width: 100%;
              height: 5rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 2rem;
              // border: 1px solid $light-white;
            }
          }
        }
      }
    }
  }
  .rightContainer {
    position: sticky;
    top: 3rem;
    align-self: start;
    .relatedNewsConatiner {
      .relatedNewsBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        @include md {
          display: block;
        }
      }
    }
  }
}
