@import "../../../mixins";
.categoryList {
    display: none;
    @include md {
        display: block;
    }
    .category {
      width: 80%;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 25px;
      margin: 0 auto 15px auto;
      padding: 5px 10px;
      border-radius: 20px;
      background-color: $light-white;
      font-size: 0.9rem;
      &:hover{
        background-color: $light-purple;
        color: white;
      }
    }
  }