@import '../../../mixins';
.cryptoCurrencyRateList {
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: #2c394a;
  color: $white;
  display: flex;
  .scrollItems {
    height: 100%;
    display: flex;
    &:first-child {
      animation: loop 110s 2s linear infinite;
    }
    &:last-child {
      animation: loop 110s 2s linear infinite;
    }
    .crypto {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $white;
      padding: 0 1rem;
      white-space: nowrap;
      flex-shrink: 0;
      .name {
        margin-right: 1rem;
        font-weight: bold;
      }
      .price {
        margin-right: 0.5rem;
      }
      .percentContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-left: 0.2rem;
          span {
            font-weight: bold;
            margin-right: 3px;
          }
        }
        &.plus {
          color: rgba(109, 238, 92, 0.7);
        }
        &.minus {
          color: rgba(255, 59, 59, 0.7);
        }
      }
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
