@import "../../../mixins";
.newsContainer{
  margin: 0 auto;
  max-width: 1100px;
    margin-top: 3rem;
      padding: 0 1rem 1rem 1rem;
        @include md {
          padding: 0;
        }
    .authorContainer {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .authorImage{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      .authorName{
        color: $light-black;
        letter-spacing: 1.5;
      }
    }
    .title{
        letter-spacing: 0.1rem;
        margin-bottom: 40px;
    }
    .thumbnail{
        width: 100%;
        height: 300px;
        object-fit: contain;
        margin-bottom: 20px;
        @include md {
          margin-bottom: 40px;
        }
    }
}