@import '../../../mixins';
.newsContainer {
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 2rem;
  padding: 0 1rem 1rem 1rem;
  @include md {
    padding: 0;
  }
  .authorContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.1rem;
    .authorImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
    .authorName {
      color: $light-black;
      letter-spacing: 1.5;
    }
  }
  .date {
    text-align: right;
  }
  .title {
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
  }
  .thumbnail {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 40px;
    }
  }
}
