$sm: 375px;
$md: 600px;
$lg: 992px;
$xlg: 1280px;
$xslg: 1441px;

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: $xlg) {
    @content;
  }
}

@mixin xslg {
  @media (min-width: $xslg) {
    @content;
  }
}


$primary: #4700B3;
$secondary: #FF33F4;
$light-purple: #C7ACFF;
$light-black: #252525;
$light-blue: #4d8197;
$light-light-black: #4F4F4F;
$light-white: #F9F9F9;
$gray: #CCCCCC;
$white: #FFFFFF;
