@import "../../../mixins";
.moreItems {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #F9F9F9;
    margin: 0 auto;
    @include md {
        width: 100%;
        max-width: 100%;
    }
    &:hover {
        .arrowIcon {
            transition: 0.5s;
            transform: translateX(10px);
            color: $primary;
        }
        .text {
            color: $primary;
        }
    }
    .arrowIcon{
        margin-top: 4px;
        margin-left: 2px;
    }
}