name: Frontend Deploy

on:
  pull_request:
    branches:
      - production
    types:
      - closed
    paths:
      - "frontend/client/**"
  repository_dispatch:
    types: [update_microcms_prod]

permissions:
  id-token: write
  contents: read
  actions: read

env:
  OUTPUT_PATH_DEV: dist-dev
  OUTPUT_PATH_PROD: dist-prod
  DEV: development
  PROD: production
  SERVICE_NAME: client-frontend

jobs:
  package-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Package Install
        uses: ./.github/actions/package-install
        with:
          working-directory: ./frontend/client
  build-prod:
    needs: package-install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Build
        uses: ./.github/actions/frontend-build
        with:
          next-public-google-id: ${{ secrets.NEXT_PUBLIC_GOOGLE_ID_PROD }}
          next-public-microcms-service-id: ${{ secrets.NEXT_PUBLIC_MICROCMS_SERVICE_ID_PROD }}
          next-public-microcms-api-key: ${{ secrets.NEXT_PUBLIC_MICROCMS_API_KEY_PROD }}
          mtt-domain: ${{ secrets.MTT_DOMAIN_PROD }}
          output-path: ${{ env.OUTPUT_PATH_PROD }}
          working-directory: ./frontend/client
  deploy-prod:
    runs-on: ubuntu-latest
    needs: build-prod
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Deloy
        uses: ./.github/actions/frontend-deploy
        with:
          system-env: ${{ env.PROD }}
          output-path: ${{ env.OUTPUT_PATH_PROD }}
          aws-deploy-role-arn: ${{ secrets.AWS_DEPLOY_ROLE_ARN_PROD }}
          frontend-distribution-id: ${{ secrets.CLIENT_FRONTEND_DISTRIBUTION_ID_PROD }}
          frontend-bucket-name: ${{ secrets.CLIENT_FRONTEND_BUCKET_NAME_PROD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}s
